.footer-wrapper {
    width: 100vw;
    height: 80px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: var(--black-00);
}
.footer-wrapper .text {
    color: white;
}