/* WRAPPER */
.header-wrapper {
    position: fixed;

    display: flex;

    justify-content: flex-start;
    align-items: flex-start;

    width: 100vw;
    height: 80px;

    background-color: var(--black-00);

    z-index: 999;
}

/* LEFT-CONTAINER */
.header-wrapper .left-container {
    width: 250px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.header-wrapper .left-container h1 {
    font-size: 25px;
    color: white;
}
.header-wrapper .left-container h1 span {
    color: var(--yellow-00);
}

/* RIGHT-CONTAINER */
.header-wrapper .right-container {
    width: 100%;
    height: 80px;

    padding: 0px 2.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper .right-container .games-area .game-btn {
    appearance: none;
    outline: none;
    border: none;

    cursor: pointer;

    margin: 0px 10px;

    font-weight: bold;
    font-size: 14px;

    color: var(--yellow-00);
    background-color: transparent;
}
.header-wrapper .right-container .user-area .login-btn {
    appearance: none;
    outline: none;
    border: none;

    cursor: pointer;

    margin: 0px 10px;

    font-size: 15px;
    font-weight: bold;

    color: var(--grey-00);

    background-color: transparent;

    transition: color .3s;
}
.header-wrapper .right-container .user-area .login-btn:hover {
    transition: color .3s;
    color: var(--yellow-00);
}
.header-wrapper .right-container .user-area .register-btn {
    appearance: none;
    outline: none;
    border: none;

    cursor: pointer;

    margin: 0px 10px;
    padding: 5px 10px;

    color: white;

    font-size: 15px;
    font-weight: bold;

    background-color: var(--yellow-00);
}





/* LOGGED AREA */
.header-wrapper .right-container .logged-user-area {
    display: flex;
    flex-direction: row;

    justify-self: flex-start;
    align-items: center;
}


.header-wrapper .right-container .logged-user-area .balance {
    display: flex;
    flex-direction: column;

    justify-self: flex-start;
    align-items: flex-start;

    margin: 0px 50px 0px 0px;
}
.header-wrapper .right-container .logged-user-area .balance .balance-label {
    font-size: 12px;
    color: var(--yellow-00);
}
.header-wrapper .right-container .logged-user-area .balance .balance-value {
    color: white;

    font-size: 20px;
    font-weight: bold;
}


.header-wrapper .right-container .logged-user-area .balance-actions {
    display: flex;
    flex-direction: row;

    justify-self: flex-start;
    align-items: center;

    margin: 0px 50px 0px 0px;
}
.header-wrapper .right-container .logged-user-area .balance-actions .withdraw {
    width: 130px;

    cursor: pointer;

    appearance: none;
    border: none;
    outline: none;

    font-size: 15px;
    font-weight: bold;

    color: white;
    background-color: transparent;

    border: 1px solid var(--yellow-00);

    padding: 10px 20px;
    margin: 0px 10px;
}
.header-wrapper .right-container .logged-user-area .balance-actions .deposit {
    width: 130px;

    cursor: pointer;

    appearance: none;
    border: none;
    outline: none;

    font-size: 15px;
    font-weight: bold;

    color: white;
    background-color: var(--yellow-00);

    padding: 10px 20px;
    margin: 0px 10px;
}

.header-wrapper .right-container .logged-user-area .logout-btn {
    cursor: pointer;
}
/* LOGGED AREA */



/* CELLPHONE MENU */
.cellphone-menu-btn {
    display: none;
}

@media only screen and (max-width: 800px) {

    .header-wrapper {
        justify-content: space-between;
    }

    /* REMOVE RIGHT CONTAINER */
    .header-wrapper .right-container {
        display: none;
    }

    /* LEFT-CONTAINER */
    .header-wrapper .left-container {
        width: 150px;
        height: 80px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-right: none;
    }
    .header-wrapper .left-container h1 {
        font-size: 20px;
        color: white;
    }

    /* INSERT CELLPHONE MENU */
    .cellphone-menu-btn {
        cursor: pointer;

        display: flex;
        height: 100%;

        justify-content: center;
        align-items: center;

        margin: 0px 10px;
    }
}