* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Mada', sans-serif;
}

:root {
  --black-00: #24252f;
  --black-01: #181a20;
  --black-02: #1a1c24;

  --grey-00: #8e8fa2;

  --yellow-00: #e9b10e;
  --yellow-01: #cc6c31;

  --green-00: #02bf4d;
}

body {
  background-color: var(--black-02);

  overflow-x: hidden;
}




/* KEYFRAMES */
@keyframes fadeIn {
  from { opacity: 0%; }
  to { opacity: 100%; }
}
@keyframes scaleIn {
  from { transform: scale(0.0); }
  to { transform: scale(1.0); }
}

@keyframes slideFromRight {
  from {
    transform: translateX(200px);
  }

  to {
    transform: translateX(0px);
  }
}
/* KEYFRAMES */